body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #e0e0e0; */
  font-size: 20px;
}
h1 {
  font-size: 32px;
}
.base{
  height: 600px;
  width: 800px;
  margin: auto;
  /* border: solid 1px goldenrod; */
}
.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 12px;
}
.big-button {
  /* border: 1px solid black; */
  background-color: ghostwhite;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 10px 30px;
  font-size: 18px;
}
.big-button:hover:enabled {
  background-color: midnightblue;
  color: white;
}
.big-button:disabled,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}



.main-box {
  height: 500px;
  width: 780px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.main-left {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-right {
  height: 100%;
  width: 30%;
}



.ml-up {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.machine-top {
  height: 30px;
  width: 100%;
}


.machine-upper {
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.machine-box {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.machine-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.machine-bar {
  width: 290px;
  height: 30px;
  background-color: royalblue;
}
.machine-display {
  width: 280px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: dotted 4px royalblue;
  cursor: default;
}

.feedback-box {
  border: solid 4px royalblue;
  height: 90px;
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: gold; */
}
.feedback-text {
  font-size: 36px;
  font-weight: bolder;
  color: red;
}

.score-text {
  font-weight: bold;
  color: red;
  font-size: 45px;
  text-align: end;
  width: 100%;
  display: inline-block;
}


.machine-lower {
  height: 24%;
  width: 92%;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.machine-btn {
  font-size: 30px;
  padding: 0 10px;
  background-color: goldenrod;
}
.machine-btn:hover:enabled {
  background-color: gold;
}
.machine-space-holder {
  width: 100px;
  height: 100%;
}



.item-box {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  cursor: default;
  /* gap: 10px 20px; */
  /* border: black solid 2px; */
  height: 200px;
  /* overflow: scroll; */
  padding: 10px;
  margin: 10px;
}
.item-element {
  color: white;
  /* height: 20px; */
  margin: 8px;
  text-align: center;
  vertical-align: bottom;
  border: solid black 1px;
}


.hist-panel {
  height: 100%;
  width: 100%;
  text-align: center;

}
.hist-box {
  /* background-color: gainsboro; */
  width: 96%;
  height: 460px;
  overflow: scroll;
  padding: 2px;
  margin: 5px 10px;
  cursor: default;
}
.hist-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: gainsboro;
}


#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 25px 20px 25px;
}
#score-text {
  color: red;
  font-weight: bold;
}
