body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #e0e0e0; */
  font-size: 20px;
}
h1 {
  font-size: 32px;
}
.base{
  height: 600px;
  width: 800px;
  margin: auto;
  /* border: solid 1px goldenrod; */
}
.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 12px;
}
.big-button {
  /* border: 1px solid black; */
  background-color: ghostwhite;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 10px 30px;
  font-size: 18px;
}
.big-button:hover:enabled {
  background-color: midnightblue;
  color: white;
}
.big-button:disabled,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}



.main-box {
  height: 500px;
  width: 780px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.main-left {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-right {
  height: 100%;
  width: 70%;
}
.mr-up {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.machine-upper {
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.machine-box {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.machine-status-bar {
  /* width: 320px; */
  /* height: 40px; */
  display: flex;
  /* border: solid black 1px; */
  /* background-color: royalblue; */
  /* color: white; */
  /* padding-top: 12px; */
}

.machine-display {
  width: 97%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: slategrey dotted 4px;
  cursor: default;
}



.score-box {
  border: black solid 4px;
  height: 90px;
  width: 120px;
  background-color: gold;
}
.score-text {
  font-weight: bold;
  color: red;
  font-size: 45px;
  text-align: end;
  width: 100%;
  display: inline-block;
}


.machine-lower {
  height: 24%;
  width: 92%;
  background-color: royalblue;
  display: flex;
  align-items: center;
}
.machine-btn {
  margin-left: 150px;
  font-size: 50px;
  padding: 0 10px;
  background-color: goldenrod;
}
.machine-btn:hover:enabled {
  background-color: gold;
}



.item-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  cursor: default;
  /* gap: 10px 20px; */
  /* border: black solid 2px; */
  height: 100%;
  overflow: scroll;
  padding: 10px;
  margin-top: 10px;
  background-color: gainsboro;

}
.item-element {
  color: white;
  /* height: 20px; */
  margin: 8px;
  text-align: center;
  vertical-align: bottom;
  border: solid black 1px;
}


.hist-panel {
  padding: 10px 20px;
  /* background-color: ghostwhite; */
}
.hist-box {
  width: 100%;
  height: 170px;
  overflow: scroll;
  padding: 2px;
}
.hist-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}


#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 25px 20px 25px;
}
#score-text {
  color: red;
  font-weight: bold;
}
